
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Penguin Powered Infosec</title>
    <meta name="description" content="Thoughts, stories and ideas.">

    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" type="text/css" href="assets/css/screen.css?v=a67c88031b">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic%7COpen+Sans:700,400">

    <link rel="canonical" href="index.html">
    <meta name="generator" content="Ghost 0.5">
    <link rel="alternate" type="application/rss+xml" title="Penguin Powered Infosec" href="rss/index.html">
</head>
<body class="home-template">

    
<header class="main-header no-cover">
    <nav class="main-nav overlay clearfix">
        
        <a class="subscribe-button icon-feed" href="rss/index.rss">Subscribe</a>
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">Penguin Powered Infosec</h1>
            <h2 class="page-description">Thoughts, stories and ideas.</h2>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="index.html#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>

<main id="content" class="content" role="main">

    <div class="extra-pagination inner">
        <nav class="pagination" role="navigation">
        <span class="page-number">Page 1 of 1</span>
    </nav>
    </div>
    
    <article class="post">
        <header class="post-header">
            <h2 class="post-title"><a href="hello-world/">Hello world</a></h2>
        </header>
        <section class="post-excerpt">
            <p>this is a test. <a class="read-more" href="hello-world/">»</a></p>
        </section>
        <footer class="post-meta">
            
            <a href="author/peter/">Peter C.</a>
            
            <time class="post-date" datetime="2015-01-19">19 January 2015</time>
        </footer>
    </article>
    <article class="post tag-getting-started">
        <header class="post-header">
            <h2 class="post-title"><a href="welcome-to-ghost/">Welcome to Ghost</a></h2>
        </header>
        <section class="post-excerpt">
            <p>You're live! Nice. We've put together a little post to introduce you to the Ghost editor and get you started. You can manage your content by <a class="read-more" href="welcome-to-ghost/">»</a></p>
        </section>
        <footer class="post-meta">
            
            <a href="author/peter/">Peter C.</a>
             on <a href="tag/getting-started/">Getting Started</a>
            <time class="post-date" datetime="2015-01-19">19 January 2015</time>
        </footer>
    </article>
    
    <nav class="pagination" role="navigation">
        <span class="page-number">Page 1 of 1</span>
    </nav>

</main>

    <footer class="site-footer clearfix">
        <section class="copyright"><a href="index.html">Penguin Powered Infosec</a> © 2015</section>
        <section class="poweredby">Proudly published with <a href="https://ghost.org">Ghost</a></section>
    </footer>

    <script src="public/jquery.js?v=a67c88031b"></script>

    <script type="text/javascript" src="assets/js/jquery.fitvids.js?v=a67c88031b"></script>
    <script type="text/javascript" src="assets/js/index.js?v=a67c88031b"></script>

</body>
