
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Hello world</title>
    <meta name="description" content="">

    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="../favicon.ico">

    <link rel="stylesheet" type="text/css" href="../assets/css/screen.css?v=a67c88031b">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic%7COpen+Sans:700,400">

    <link rel="canonical" href="index.html">
    
    <meta property="og:site_name" content="Penguin Powered Infosec">
    <meta property="og:type" content="article">
    <meta property="og:title" content="Hello world">
    <meta property="og:description" content="this is a test....">
    <meta property="og:url" content="http://localhost:2368/hello-world/">
    <meta property="article:published_time" content="2015-01-20T04:03:46.013Z">
    <meta property="article:modified_time" content="2015-01-20T04:03:46.012Z">
    
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Hello world">
    <meta name="twitter:description" content="this is a test....">
    <meta name="twitter:url" content="http://localhost:2368/hello-world/">
    
    <script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Article",
    "publisher": "Penguin Powered Infosec",
    "author": {
        "@type": "Person",
        "name": "Peter C.",
        "url": "http://localhost:2368/author/peter",
        "sameAs": null
    },
    "headline": "Hello world",
    "url": "http://localhost:2368/hello-world/",
    "datePublished": "2015-01-20T04:03:46.013Z",
    "dateModified": "2015-01-20T04:03:46.012Z",
    "description": "this is a test...."
}
    </script>

    <meta name="generator" content="Ghost 0.5">
    <link rel="alternate" type="application/rss+xml" title="Penguin Powered Infosec" href="../rss/index.html">
</head>
<body class="post-template">

    


<header class="main-header post-head no-cover">
    <nav class="main-nav  clearfix">
        <a class="back-button icon-arrow-left" href="../">Home</a>
        <a class="subscribe-button icon-feed" href="../rss/index.rss">Subscribe</a>
    </nav>
</header>

<main class="content" role="main">

    <article class="post">

        <header class="post-header">
            <h1 class="post-title">Hello world</h1>
            <section class="post-meta">
                <time class="post-date" datetime="2015-01-19">19 January 2015</time> 
            </section>
        </header>

        <section class="post-content">
            <p>this is a test.</p>
        </section>

        <footer class="post-footer">



            <section class="author">
                <h4><a href="../author/peter/">Peter C.</a></h4>

                    <p>Read <a href="../author/peter/">more posts</a> by this author.</p>
                <div class="author-meta">
                    
                    
                </div>
            </section>


            <section class="share">
                <h4>Share this post</h4>
                <a class="icon-twitter" href="https://twitter.com/share?text=Hello%20world&amp;url=http://localhost:2368/hello-world/" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                    <span class="hidden">Twitter</span>
                </a>
                <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u=http://localhost:2368/hello-world/" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                    <span class="hidden">Facebook</span>
                </a>
                <a class="icon-google-plus" href="https://plus.google.com/share?url=http://localhost:2368/hello-world/" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                    <span class="hidden">Google+</span>
                </a>
            </section>

        </footer>

    </article>

</main>



    <footer class="site-footer clearfix">
        <section class="copyright"><a href="../">Penguin Powered Infosec</a> © 2015</section>
        <section class="poweredby">Proudly published with <a href="https://ghost.org">Ghost</a></section>
    </footer>

    <script src="../public/jquery.js?v=a67c88031b"></script>

    <script type="text/javascript" src="../assets/js/jquery.fitvids.js?v=a67c88031b"></script>
    <script type="text/javascript" src="../assets/js/index.js?v=a67c88031b"></script>

</body>
